
{% include 'header.twig' %}

<div class="container">
    <h1>{{ message }}</h1>
</div>
{# <nav>
    {% for link in nav %}
        <a href="{{link.url}}"> {{link.name}} </a>
    {% endfor %}
</nav> #}


{# {% include 'footer.twig' %} #}
